body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-rows: 8vh;
}

/*background-image: url(../img/indeximg.jpg);
background-repeat: no-repeat;*/

header {
    background-color: #133017;
    padding-top: 2vh;
    padding-right: 2vw;
}

nav {
    vertical-align: middle;
    color: white;
}



button {
    border: none;
    outline: none;
}

#ham-button {
    float: right;
    top: 0;
    right: 0;
}

#close {
    float: right;
    top: 0;
    right: 0;
}

#ham-menu{
    display: none;
}

#ham-menu.active {
    display: block;
}

.menu {
    position: fixed;
    float: right;
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
    background-color: tomato;
}






@media only screen and (min-width: 600px) {
    body {
        visibility: hidden;
        background-color: transparent;
    }
}