body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-rows: 8vh 60vh;
}

header {
    background-color: #E91E63;
    padding-top: 1.1vh;
    padding-right: 2vw;
}

nav {
    vertical-align: middle;
    color: white;
}

.menu{
    display: none;
}

.button {
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    margin-top: 1.4vh;
    margin-right: 3vw;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
  }

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu.active {
    display: block;
    background-color: tomato;
    position: fixed;
    float: right;
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
}

.logo {
    height: 6.4vh;
    margin-left: 1vw;
}


#front-image {
    background-image: url(../img/indeximg.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 200%;
}

h1 {
    color: white;
    font-size: 7vh;
    text-align: center;
    font-family: 'Raleway';
    text-shadow: black 0.5vh 0.5vh;
}





@media only screen and (min-width: 600px) {
    body {
        visibility: hidden;
        background-color: transparent;
    }
}

