body {
    margin: 0px;
    width: 100%;
}

.container p {
    margin: 0;
    text-align: center;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 8vh 45vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E91E63;
    padding-top: 0.5vw;
    padding-right: 2vw;
    height: 7vh;
    width: 100%;
}

nav {
    vertical-align: middle;
    color: white;
}

.button {
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    margin-top: 0.5vh;
    margin-right: 3vw;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
  }

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {
    opacity: 0;
    background-color: white;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

.menu{
    transform: translateX(115%);
    transition: transform .5s ease;
    display: block;
    background-color: #280511;
    position: fixed;
    float: right;
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
}

.menu.show{
    transform: translateX(0);
}

.logo {
    position: fixed;
    height: 6.4vh;
    top: 0.75vh;
    left: 2vw;
}

.line {
    margin-top: 8vh;
    height: 2px;
    width: 100%;
    background-color: #E91E63;
}

p {
    font-family: 'Roboto';
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.menu p {

    font-size: 5vh;
    padding-left: 5vw;
    margin-top: 5vh;
}

#hero-image {
    background-image: url(../img/indeximg.png);
    background-position-x: 80%;
    background-size: 300%;
    height: 90%;
    padding-top: 6.5vh;
}

h1 {
    color: white;
    font-size: 12vw;
    text-align: center;
    font-family: 'Raleway';
    text-shadow: black 0.5vh 0.5vh;
    padding-bottom: 2vw;
    margin: 0;
    line-height: 20vw;
}

h2 {
    margin-top: 8vw;
    text-align: center;
    font-size: 7vw;
    font-family: 'Roboto';
}

.main_text {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 4vw;
}

.discord {
    text-align: center;
}

.discord iframe {
    width: 90%;
}

h3 {
    text-align: center;
    margin-bottom: 1vh;
    font-family: 'Roboto';
    margin-top: 10vw;
}

.offset {
    margin-top: 10vh;
}

.shead {
    text-align: center;
    margin-bottom: 1vh;
}

.textoffset {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
}

.images {
    width: 100%;
}

.side-text{
    text-align: right;
    margin-right: 2vw;
    font-size: 1.5vh;
    color: rgb(87, 87, 87);
}

ul {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 0px;
    color: white;
}

li a img {
    height: 25vh;
}

.invisible-block {
    display: none;
}

.header-link {
    display: none;
}

.body-background {
    background-color: aliceblue;
}


@media only screen and (min-width: 800px) {
    .container {
        display: block;
    }

    .textoffset {
        margin: 0;
        margin-bottom: 1vw;
    }

    .body-background {
        background-color: rgb(177, 255, 229);
    }

    main {
        display: block;
        height: 65vh;
    }

    h1 {
        font-size: 5vw;
        margin-top: 4vw;
        padding-bottom: 4vw;
        line-height: 10vw;
    }

    #hero-image {
        background-size: 100%;
        background-position-y: 10%;
    }

    header {
        text-align: center;
        position: absolute;
        display: grid;
        grid-template-columns: 12vw 11vw 11vw 11vw 11vw 11vw 11vw auto;
        padding-right: 0px;
        height: 3.5vw;
    }

    #mheader {
        background-color: rgba(233, 30, 98, 0.473);
        padding-top: 0.5vw;
    }

    .logo {
        width: 100%;
        z-index: 10;
        padding-left: 4px;
        display: block;
        position: initial;
        height: 90%;
    }

    .button {
        display: none;
    }

    .invisible-block {
        display: block;
    }

    .header-link {
        display: block;
        margin-top: 1vh;
        font-size: 1.5vw;
        text-decoration: none;
        color: white;
        border-left: 1px solid white;
    }

    #first-header-link {
        border: none;
    }

    h2 {
        font-size: 2.5vw;
        margin: 1vw;
    }

    h3 {
        margin-top: 1vw;
        margin-bottom: 2vw;
        font-size: 1.75em;
    }

    .main_text {
        font-size: 1.3vw;
    }

    header p {
        margin: 0;
    }

    #other-info-container {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-areas: 
        'r1 r2'
        't1 t2';
        text-align: center;
        grid-gap: 5%;
    }

    .images {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .rules-container {
        display: grid;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2vw;
        grid-template-areas: 
        'r1 r2'
        't1 t2'
        'r3 r4'
        't3 t4';
        text-align: center;
        grid-gap: 5%;
    }

    #inf2 {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
        grid-template-areas: 
        'r4 r5'
        't4 t5';
        text-align: center;
    }

    #anime-container {
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        background-color: aliceblue;
    }

    #anime-text-container {
        margin-bottom: 2vw;
        margin-left: 15%;
        margin-right: 15%;
    }

    .shead {
        font-size: 1.1em;
        margin-top: 0;
    }

    .discord iframe {
        width: 30%;
    }

    ul {
        grid-template-columns: auto auto auto;
        margin-left: 10%;
        margin-right: 10%;
        grid-gap: 3vw;
    }

    li a img {
        height: 20vw;
    }

    #current-anime {
        height: 30vw;
    }

    .rules-page-container {
        margin-left: 15%;
        margin-right: 15%;
        background-color: aliceblue;
    }

    .history-page-container {
        margin-left: 15%;
        margin-right: 15%;
        background-color: aliceblue;
    }

    #last-rule {
        margin-top: 1vw;
        margin-left: 35%;
        margin-right: 35%;
    }

    #last-rule p {
        margin: 0;
    }

    section .textoffset {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1vw;
    }

    .text-container {
        background-color: rgb(255, 171, 220); 
        border-radius: 1vw;
        border: solid rgb(255, 171, 220) 1vw;
    }

    .mote-container {
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: aliceblue;
    }

    #mote-text-container {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 2vw;
        text-align: center;
    }
}


